body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 

  background-color: rgb(46, 46, 46);
}
.container{
  display: flex;
  justify-content: center;

}
.card{
  color:black;
  border: 3px solid purple;

  width: 200px;
  height: 200px;
}

h1{
  font-size: 45px;
}
h2{
  font-size: 35px;
}

button{
  margin:50px;
  height: 50px;
  width: 70px;

  font-size: large;

  border-radius: 20%;
  background-color: rgb(205, 151, 52);
}

.border{
  display: flex;
  border: 5px solid rgb(236, 219, 197);
  border-radius: 3%;
  height: 300px;
  width: 400px;

  background-color: rgb(237, 232, 226);
  color: black;
  box-shadow: 0px 12px 2px 5px  rgb(19, 19, 18);

  justify-content: center;
  align-items: center;
}

.border:hover{
  cursor: crosshair;

}

.border:active{
  transform: scale(0.8);
  transform: skew(5deg, -5deg);
}

.none{
  background-color: gray;
}

.none:active{
  color: white
}
.more{
  background-color: aquamarine;
}

.correct{
  background-color: rgba(128, 255, 0, 0.441);
}

.wrong{
  background-color: rgba(199, 13, 13, 0.556);
}

button:hover{
  transform: scale(1.05);
}

input{
  display: flex;
  text-align: center;
  border-radius: 50%;
}

.more:active{
  transform: scale(0.6);
}

#false{
  display: none;
}

#true{
  display: flex;
}