body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 

  background-color: rgb(46, 46, 46);

}

.card{
  background-color: aliceblue;
  color:black;
  border: 3px solid purple;

  width: 250px;
  height: 250px;
}

.border{
  border: 5px solid red;
  height: 300px;
  width: 300px;
}

#false{
  display: none;
}

#true{
  display: block;
}